@page "/fetchdata"
@using HTGR.Models
@inject HttpClient Http

<PageTitle>Videos</PageTitle>

<h1>Videos</h1>

@if (videos == null)
{
    if (message != null)
    {
        <h2>@message</h2>
    }
    else
    { 
        <p><em>Loading...</em></p>
    }
}
else
{
    <ul>
        @foreach (var video in videos)
        {
            <li>@video?.Title<br />@video?.Description</li>
        }
    </ul>
}

@code {
    private VideoEntity[]? videos;
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        message = null;
        try
        {
            videos = await Http.GetFromJsonAsync<VideoEntity[]>("/api/videos");
        }
        catch 
        {
            message = "Something went wrong trying to get our videos. Please try again.";
        }
    }
}
