@page "/fetchdata"
@using HTGR.Web.Models
@inject HttpClient Http

<PageTitle>Speakers</PageTitle>

<h1>Speakers</h1>

@if (speakers == null)
{
    if (message != null)
    {
        <h2>@message</h2>
    }
    else
    { 
        <p><em>Loading...</em></p>
    }
}
else
{
    <ul>
        @foreach (var speaker in speakers)
        {
            <li>@speaker?.value</li>
        }
    </ul>
}

@code {
    private Speaker[]? speakers;
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        message = null;
        try
        {
            var temp = await Http.GetFromJsonAsync<SpeakerObject>("/api/conference/speakers");
            speakers = temp.collection.items.Select(i => i.data.FirstOrDefault()).ToArray();
        }
        catch 
        {
            message = "Something went wrong trying to get our speakers. Please try again.";
        }
    }
}
