@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Microsoft Azure Week!</h1>

Welcome to this DEMO app.<br/><br/>

<img src="https://www.sharepointeurope.com/wp-content/uploads/slider20/ESPComm_AzureWeekJuly22_Website_Banner_FRG_1920x600.png" class="img-fluid"/>